Relax NG/Redding_09-24_relax_ng-01/Untitled1.rnc

start = xml
xml = element xml {source, poem}
source = element source {title, author, date}
author = element author {text}
date = element date {when}
when = attribute when {xsd:gYear}

title = element title {level, text}
level = attribute level {"book" | "inner"}

poem = element poem {title, lg+}
lg = element lg {ln+}
ln = element ln {n+, text,mixed{(place | placeName | motif)*}}
n = attribute n {xsd:integer}
ref = attribute ref {"NYC-Man" | "NYC-PennSt" | "NYC-Harlem" | "PR" | "Cuba"| "Ha" | "Ja" | "NYC" | "Ga" | "Fla" | "La" | "NYC-Brook" | "NYC-Bronx" | "NYC-Harlem" | "NYC-Man"}
place = element place {ref, text}
placeName = element placeName {ref, text}
motif = element motif {text}