Redding_09-24_relax_ng-01/Untitled1.rnc

start = xml
xml = element xml {source, poem}
source = element source {title, author, date}
title = element title {level, text}
level = attribute level {xsd:ID}
author = element author {text}
date = element date {when}
when = attribute when {"when"}

poem = element poem {title, lg, ln}
title = element title {level, text}
level = attribute level {xsd:ID}
lg = element lg {ln}
ln = element {n}
n = attribute n {xsd:ID}

